li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

/* Priority styles */
.low {
    border-left: 5px solid green;
}

.medium {
    border-left: 5px solid orange;
}

.high {
    border-left: 5px solid red;
}

/* Status styles */
.pending {
    background-color: #7d6001;
}

.in-progress {
    background-color: #01468f;
}

.completed {
    background-color: #038221;
    text-decoration: line-through;
}