li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

/* Priority styles */
.low {
    border: 5px solid green;
}

.medium {
    border: 5px solid rgb(253, 152, 0);
}

.high {
    border: 5px solid red;
}

/* Status styles */
.pending {
    background-color: #000000;
}

.in-progress {
    background-color: #000000;
}

.completed {
    background-color: #000000;
    text-decoration: line-through;
}